<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            font-family: "Roboto",sans-serif;
        }
        .father_box{
            background-color: #368db2;
        }
    </style>
</head>
<body>

<section class="father_box">
    <div class="message_div">
        <p>Hi %s, your appointment has been recorded successfully at %s on %s with id %s</p>
        <p>You will be notified soon as appointments are booked in a particular order</p>
    </div>
</section>


</body>
</html>