<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            font-family: "Roboto",sans-serif;
        }
        .father_box{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <section class="father_box">
        <div class="message_div">
            <p>Hi %s, you account has been set up successfully at %s on %s</p>
            <p>your e-Reach USERNAME is %s</p>
            <p>your <em><b>PATIENT IDENTIFICATION NUMBER</b></em>  is %s</p>
        </div>
        <div class="login_button_div">
            <a href="http://localhost:3000/patient-dashboard">
                <button>click this link to navigate to your dashboard</button>
            </a>
        </div>
    </section>
</body>
</html>